<h2 class="text-center">{{ 'main.welcome' | translate }}</h2>
<div class="d-flex-inline p-5">
	<p>{{ 'main.first-paragraph' | translate }}</p>
	<p>{{ 'main.second-paragraph' | translate }}</p>
	<p>{{ 'main.third-paragraph' | translate }}</p>
	<p>{{ 'main.fourth-paragraph' | translate }}</p>
</div>
<div class="d-flex-inline p-5">
	<p>
		{{ 'main.roadmap' | translate }}
		<ul>
			<li>
				{{ 'main.roadmap-point1' | translate }}
			</li>
			<li>
				{{ 'main.roadmap-point2' | translate }}
			</li>
			<li>
				{{ 'main.roadmap-point3' | translate }}
			</li>
			<li>
				{{ 'main.roadmap-point4' | translate }}
			</li>
		</ul>
</div>