<div class="card container mb-4">
    <div class="card-body">
        <h4 class="card-title">Login</h4>
        <div class="card-text">
            <form [formGroup]="loginForm">
                <p>
                    <label for="username" class="form-label col-2">Username</label>
                    <input name="username" class="col-2" formControlName="username" type="text" required>
                </p>
                <p>
                    <label for="password" class="form-label col-2">Password</label>
                    <input name="password" class="col-2" formControlName="password" [type]="showPassword ? 'text' : 'password'" required>
                    <input name="toggle" class="col-1" type="checkbox" (click)="toggleShowPassword()">Show password
                </p>
                <button type="submit" class="btn btn-secondary" [disabled]="loginForm.invalid" (click)="login()">Login</button>
            </form>
        </div>
    </div>
</div>