<div class="container">
    <div class="row">
        <div class="col">
            <app-npc-list></app-npc-list>
        </div>
        <div class="col">
            <router-outlet></router-outlet>
        </div>
    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination">
          <li class="page-item"><a class="page-link">Previous</a></li>
          <li class="page-item" *ngFor="let page of pages"><a class="page-link" (click)="changePage(page)">{{ page }}</a></li>
          <li class="page-item"><a class="page-link">Next</a></li>
        </ul>
      </nav>
</div>