<nav class="navbar bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" routerLink=""><img src="assets\images\home_white2.png" alt="{{ 'navigation.home' | translate }}"></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">{{ 'navigation.generate' | translate }}</a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" routerLink="npc-generate">NPC</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">{{ 'navigation.race' | translate }}</a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" routerLink="race-display">{{ 'navigation.display_race' | translate }}</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <button type="button" class="nav-link active btn btn-secondary" (click)="clickEnglish()"><img src="assets\images\united-kingdom.png" alt="{{ 'navigation.flag_of_uk' | translate }}"></button>
            </li>
            <li class="nav-item">
                <button type="button" class="nav-link active btn btn-secondary" (click)="clickPolish()"><img src="assets\images\poland.png" alt="{{ 'navigation.flag_of_pl' | translate }}"></button>
            </li>
            <li class="nav-item" *ngIf="!this.authService.isLoggedIn">
                <button type="button" class="nav-link active btn btn-secondary" routerLink="registration">{{ 'registration_and_login.register' | translate }}</button>
            </li>
            <li class="nav-item" *ngIf="this.authService.isLoggedIn">
                <button disabled type="button" class="nav-link btn btn-secondary"> {{ 'account.account' | translate }}</button>
            </li>
            <li class="nav-item">
                <button type="button" *ngIf="!this.authService.isLoggedIn" class="nav-link active btn btn-secondary" routerLink="login">{{ 'registration_and_login.login' | translate }}</button>
                <button type="button" *ngIf="this.authService.isLoggedIn" class="nav-link active btn btn-secondary" (click)="doLogout()">{{ 'registration_and_login.logout' | translate }}</button>
            </li>
        </ul>
    </div>
</nav>