<h2 mat-dialog-title>{{ 'registration_and_login.dialog.thank_you' | translate }}</h2>
<div mat-dialog-content>
    <p>{{ 'registration_and_login.dialog.main_body' | translate }}</p>
    <!-- <p>Please paste this link in your browser's address bar to verify your account. Please note, you will not be able to log in without verification!</p>
    <p>Link: {{ urlString }}verify?token={{ data.token }}</p> -->
</div>
<div mat-dialog-actions>
    <button class="btn btn-secondary" (click)="onClick()">{{ 'registration_and_login.dialog.dismiss_button' | translate }}</button>
</div>