<p>{{ 'display.races_with_basic_attributes' | translate }}</p>

<table *ngFor="let race of races">
    <caption>{{race.name}}</caption>
    <tr>
        <th>{{ 'display.attribute' | translate }}</th>
        <th>{{ 'display.value' | translate}}</th>
    </tr>
    <tr>
        <td>{{ 'display.weapon_skill' | translate }}</td>
        <td>{{race.stats.basicWeaponSkill}}</td>
    </tr>
    <tr>
        <td>{{ 'display.ballistic_skill' | translate }}</td>
        <td>{{race.stats.basicBallisticSkill}}</td>
    </tr>
    <tr>
        <td>{{ 'display.strength' | translate }}</td>
        <td>{{race.stats.basicStrength}}</td>
    </tr>
    <tr>
        <td>{{ 'display.toughness' | translate }}</td>
        <td>{{race.stats.basicToughness}}</td>
    </tr>
    <tr>
        <td>{{ 'display.agility' | translate }}</td>
        <td>{{race.stats.basicAgility}}</td>
    </tr>
    <tr>
        <td>{{ 'display.intelligence' | translate }}</td>
        <td>{{race.stats.basicIntelligence}}</td>
    </tr>
    <tr>
        <td>{{ 'display.will_power' | translate }}</td>
        <td>{{race.stats.basicWillPower}}</td>
    </tr>
    <tr>
        <td>{{ 'display.fellowship' | translate }}</td>
        <td>{{race.stats.basicFellowship}}</td>
    </tr>
    <tr>
        <td>{{ 'display.max_wounds' | translate }}</td>
        <td>{{race.stats.maxWounds}}</td>
    </tr>
    <tr>
        <td>{{ 'display.movement_speed' | translate }}</td>
        <td>{{race.stats.movement}}</td>
    </tr>
</table>

<button class="btn btn-primary" type="submit">Click me!</button>
