<div>
    <h3>{{ 'display.races_with_basic_attributes' | translate }}</h3>

    <div class="row">
        <div class="col-md-3" *ngFor="let race of races">
            <div class="card m-2 text-bg-dark">
                <h5 class="card-header">{{ 'display.race_names.' + race.name | translate }}</h5>
                <div class="card-body">
                    <table class="table table-dark table-striped table-hover table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th>{{ 'display.attribute' | translate }}</th>
                                <th>{{ 'display.value' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            <tr>
                                <td>{{ 'display.statistics.weapon_skill' | translate }}</td>
                                <td>{{ race.stats.basicWeaponSkill }} + {{ 'display.dice' | translate }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'display.statistics.ballistic_skill' | translate }}</td>
                                <td>{{ race.stats.basicBallisticSkill }} + {{ 'display.dice' | translate }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'display.statistics.strength' | translate }}</td>
                                <td>{{ race.stats.basicStrength }} + {{ 'display.dice' | translate }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'display.statistics.toughness' | translate }}</td>
                                <td>{{ race.stats.basicToughness }} + {{ 'display.dice' | translate }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'display.statistics.agility' | translate }}</td>
                                <td>{{ race.stats.basicAgility }} + {{ 'display.dice' | translate }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'display.statistics.intelligence' | translate }}</td>
                                <td>{{ race.stats.basicIntelligence }} + {{ 'display.dice' | translate }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'display.statistics.will_power' | translate }}</td>
                                <td>{{ race.stats.basicWillPower }} + {{ 'display.dice' | translate }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'display.statistics.fellowship' | translate }}</td>
                                <td>{{ race.stats.basicFellowship }} + {{ 'display.dice' | translate }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'display.statistics.max_wounds' | translate }}</td>
                                <td>{{ race.stats.maxWounds }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'display.statistics.movement_speed' | translate }}</td>
                                <td>{{ race.stats.movement }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'display.hair_colors' | translate }}</td>
                                <td>
                                    <ul class="list-unstyled">
                                        <li *ngFor="let color of race.hairColors">{{ 'display.colors.' + color | translate }}</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ 'display.eye_colors' | translate }}</td>
                                <td>
                                    <ul class="list-unstyled">
                                        <li *ngFor="let color of race.eyeColors">{{ 'display.colors.' + color | translate }}</li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
