<p>Races with basic attributes</p>

<table *ngFor="let race of races">
    <caption>{{race.name}}</caption>
    <tr>
        <th>Attribute</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>Weapon skill</td>
        <td>{{race.statsDto?.basicWeaponSkill}}</td>
    </tr>
    <tr>
        <td>Ballistic skill</td>
        <td>{{race.statsDto?.basicBallisticSkill}}</td>
    </tr>
    <tr>
        <td>Strength</td>
        <td>{{race.statsDto?.basicStrength}}</td>
    </tr>
    <tr>
        <td>Toughness</td>
        <td>{{race.statsDto?.basicToughness}}</td>
    </tr>
    <tr>
        <td>Agility</td>
        <td>{{race.statsDto?.basicAgility}}</td>
    </tr>
    <tr>
        <td>Intelligence</td>
        <td>{{race.statsDto?.basicIntelligence}}</td>
    </tr>
    <tr>
        <td>Will Power</td>
        <td>{{race.statsDto?.basicWillPower}}</td>
    </tr>
    <tr>
        <td>Fellowship</td>
        <td>{{race.statsDto?.basicFellowship}}</td>
    </tr>
    <tr>
        <td>Maximum wounds</td>
        <td>{{race.statsDto?.maxWounds}}</td>
    </tr>
    <tr>
        <td>Movement speed</td>
        <td>{{race.statsDto?.movement}}</td>
    </tr>
</table>

<button class="btn btn-primary" type="submit">Click me!</button>
